@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .app-background-color {
        @apply bg-blue-600
    }

    .piece-red {
        @apply bg-gradient-radial from-red-800 via-red-800 to-black
    }

    .piece-black {
        @apply bg-gradient-radial from-neutral-700 via-neutral-700 to-black
    }

    .piece-green {
        @apply bg-gradient-radial from-green-800 via-green-800 to-black
    }

    .piece-yellow {
        @apply bg-gradient-radial from-yellow-600 via-yellow-600 to-black
    }

    .piece-blue {
        @apply bg-gradient-radial from-blue-800 via-blue-800 to-black
    }

    .app-standard-text {
        @apply text-black font-semibold font-mono;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
